
/* Your CSS Code here. */
.main{
	width:200px;
	background-color: rgb(128, 0, 128);

	padding:10px;
	border-left-width:5px;
	
border-left: green solid ;
	

}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}




